<form class="was-validated" action="/add" method="POST">
    <h1 class="text-center">Cadastro de postagens</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Título</span>
        <input type="text" class="form-control" placeholder="Título" aria-label="Username"
            aria-describedby="basic-addon1" name="titulo" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Conteúdo</span>
        <textarea class="form-control" aria-label="With textarea" name="conteudo" placeholder="Conteúdo" required></textarea>
    </div>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '/';"><i class="fas fa-arrow-left" style="margin-right: 7px;"></i>Voltar</button>
    <button type="submit" class="btn btn-success"><i class="fas fa-save" style="margin-right: 7px;"></i>Cadastrar
        Postagem</button>
</form>