/DesWeb3/ProjetoUsuarios/nbproject/private/
/DesWeb3/ProjetoUsuarios/build/
/DesWeb3/ProjetoLogin/nbproject/private/
/DesWeb3/ProjetoLogin/build/
/DesWeb3/TecProg2/nbproject/private/
/TecProgr2/TecProg2/nbproject/private/
/TecProgr2/TecProg2/build/
/TecProgr2/ProjetoClinica/nbproject/private/
/TecProgr2/ProjetoClinica/build/
/TecProgr2/PojectLogin/nbproject/private/
/TecProgr2/PojectLogin/build/
/TecProgr2/ProjetoEscola/nbproject/private/
/TecProgr2/ProjetoEscola/build/
/TecProgr2/Projeto1/nbproject/private/
