<!-- views/login.handlebars -->
<link rel="stylesheet" href="/css/home.css">
<div class="geral">
    <div class="container">
        <div class="inputs">
            <form action="/auth/login" method="POST">
                <input type="text" name="username" placeholder="Nome de Usuário" required> <br>
                <input type="password" name="senha" placeholder="Senha" required>
                <br>
                <button type="submit">Entrar</button>
            </form>
        </div>
        <p style="">Não possui uma conta? Cadastre-se aqui</p>
        <a href="/auth/register"><button type="submit">Cadastrar</button></a>
    </div>
</div>
<p>{{error}}</p>